<section>
    <div class="b-header">
        <div class="header__logo"><img src="./img/base-logo.svg" alt=""></div>
        <nav class="header__menu js-head-menu">
            <a href="#about">About Base</a>
            <a href="#howitworks">How it works</a>
            <a href="#plans">Future plan</a>
            <a href="#laserwar">Laserwar</a>
            <a href="#contacts">Contacts</a>
        </nav>
        <div class="header__btn">
            <a href="#" class="b-button b-button--gradient">Регистарация</a>
        </div>
    </div>
</section>