<section>
    <div class="b-planet js-planet">
        <div class="planet__video">
            <video autoplay muted loop>
                <source src="./img/bg-center.mp4" type="video/mp4">
            </video>
        </div>
        <div class="planet__content">
            <p class="planet__title">Become a part of global laser tag communities</p>
            <p><a href="#" class="b-button b-button--gradient">Зарегистрировать клуб</a></p>
        </div>
    </div>
    <div class="b-planet-text js-planet-text">
        <div class="planet-text__inner">
            <p><span>Лазертаг</span> – это хобби, игра, спорт.</p>
            <p><span>Это стиль жизни.</span> Он будет таким, как хотим мы с вами. <a href="#">Регистрируйтесь в LASERWAR Base!</a> Создадим будущее лазертага вместе.</p>
            <p><strong>Уже сегодня!</strong></p>
        </div>
    </div>
</section>