<section id="plans">
    <div class="b-plans js-plans">
        <div class="plans__title">
            <h2>Future plans</h2>
        </div>
        <div class="plans__items">
            <div class="plans__item plans__item--left">
                <div class="plans__num">01</div>
                <div class="plans__content">
                    <h3>Player achievements</h3>
                    <p>Make your website design / mobile application design more colorful and give a cool impression on the eyes of the user</p>
                    <div class="plans__link">
                        <a href="#">Explore</a>
                    </div>
                </div>
                <div class="plans__decoration">
                    <img src="./img/plans-decoration.png" class="plans__decoration-dot" alt="">
                    <img src="./img/plans-decoration-color.png" class="plans__decoration-color" alt="">
                    <img src="./img/plans-decoration-1.svg" class="plans__decoration-1" alt="">
                    <img src="./img/plans-decoration-2.svg" class="plans__decoration-2" alt="">
                    <img src="./img/plans-decoration-3.svg" class="plans__decoration-3" alt="">
                    <img src="./img/plans-decoration-4.svg" class="plans__decoration-4" alt="">
                </div>
            </div>
            <div class="plans__item plans__item--right">
                <div class="plans__num">02</div>
                <div class="plans__content">
                    <h3>Teams</h3>
                    <p>Create customizable illustrations with attractive designs that are made visually through high creativity Create customizable illustrations with attractive designs that are made visually through high creativity</p>
                </div>
                <div class="plans__decoration">
                    <img src="./img/plans-decoration.png" class="plans__decoration-dot" alt="">
                    <img src="./img/plans-decoration-color.png" class="plans__decoration-color" alt="">
                    <img src="./img/plans-decoration-1.svg" class="plans__decoration-1" alt="">
                    <img src="./img/plans-decoration-2.svg" class="plans__decoration-2" alt="">
                    <img src="./img/plans-decoration-3.svg" class="plans__decoration-3" alt="">
                    <img src="./img/plans-decoration-4.svg" class="plans__decoration-4" alt="">
                </div>
            </div>
            <div class="plans__item plans__item--left">
                <div class="plans__num">03</div>
                <div class="plans__content">
                    <h3>Global map</h3>
                    <p>Create customizable illustrations with attractive designs that are made visually through high creativity Create customizable illustrations with attractive designs that are made visually through high creativity</p>
                </div>
                <div class="plans__decoration">
                    <img src="./img/plans-decoration.png" class="plans__decoration-dot" alt="">
                    <img src="./img/plans-decoration-color.png" class="plans__decoration-color" alt="">
                    <img src="./img/plans-decoration-1.svg" class="plans__decoration-1" alt="">
                    <img src="./img/plans-decoration-2.svg" class="plans__decoration-2" alt="">
                    <img src="./img/plans-decoration-3.svg" class="plans__decoration-3" alt="">
                    <img src="./img/plans-decoration-4.svg" class="plans__decoration-4" alt="">
                </div>
            </div>
            <div class="plans__item plans__item--text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text ever since.Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text ever since.</p>
            </div>
            <div class="plans__line"></div>
        </div>
    </div>
</section>