<section>
    <div class="b-promo">
        <div class="promo__video">
            <video autoplay muted loop>
                <source src="./img/bg.mp4" type="video/mp4">
            </video>
        </div>
        <div class="promo__content">
            <div class="promo__title">
                <h1>Стань частью глобального laser tag сообщества</h1>
                <span><em>Стань частью</em></span>
                <span><em>глобального лазертаг</em></span>
                <span><em>сообщества</em></span>
            </div>
            <div class="promo__content-inner">
                <p>Base -это групнейший сервис по сбору статистики лазертаг игр в мире, позволяющий пользователям легко и быстро погрузиться в интереснейший мир лазертага и быть в курсе всех последних событий </p>
                <div class="promo__btn">
                    <a class="b-button b-button--gradient" href="#">Зарегистрировать клуб</a>
                </div>
            </div>
        </div>
    </div>
</section>