<section id="howitworks">
    <div class="b-steps">
        <div class="steps__top">
            <div class="steps__top-title">
                <h2><span>Only 3 steps to use</span> <span>Base for your bissiness</span></h2>
            </div>
            <div class="steps__top-text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text ever since.</p>
            </div>
        </div>
        <div class="steps__items">
            <div class="steps__item">
                <div class="steps__num">01</div>
                <h3>Register your club on Base</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="steps__link"><a href="#">Sign Up</a></p>
            </div>
            <div class="steps__item">
                <div class="steps__num">02</div>
                <h3>Set your club info</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="steps__item">
                <div class="steps__num">03</div>
                <h3>Catch money</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</section>