<secrion id="about">
    <div class="b-video-desc">
        <p>Block “why you need to register in the system” - to encourage players to compete with each other and thereby increase club attendance. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi. Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.</p>
    </div>
    <div class="b-video">
        <a data-fslightbox="video" href="https://www.youtube.com/watch?v=_alfK7ltHWo">
            <pictire>
                <source srcset="./img/video-pic.webp" type="image/webp">
                <source srcset="./img/video-pic.jpg" type="image/jpeg">
                <img src="./img/video-pic.jpg" alt="video pic">
            </pictire>
            <img class="video__play" src="./img/video-play.svg" alt="play video">
        </a>
    </div>
</secrion>