<secrion id="about">
    <div class="b-video-desc js-video-desc">
        <div class="video-desc__inner">
            <p>Block “why you need to register in the system” - to encourage players to compete with each other and thereby increase club attendance. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi. Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.</p>
        </div>
    </div>
    <div class="b-video js-video">
        <a data-fslightbox="video" href="https://www.youtube.com/watch?v=_alfK7ltHWo">
            <picture>
                <source srcset="./img/lazy-1232-604.png" data-srcset="./img/video-pic.webp" type="image/webp">
                <source srcset="./img/lazy-1232-604.png" data-srcset="./img/video-pic.jpg" type="image/jpeg">
                <img class="lazy" src="./img/lazy-1232-604.png" data-src="./img/video-pic.jpg" alt="video pic">
            </picture>
            <img class="video__play lazy" src="" data-src="./img/video-play.svg" alt="play video">
        </a>
    </div>
</secrion>