$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Exo 2', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-black: #000000; 
$color-white: #ffffff; 
$color-yellow: #ffd600; 
$color-gray: #96a5bc;
$color-darkblue: #19192a;
$color-darkblue2: #505278;