.b-bottom {
    margin: 0 -3000px;
    padding: 7rem 3000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #232537;

    .bottom__btns {
        a {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}