.b-bottom {
    margin: 0 -3000px;
    padding: 7rem 3000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #232537;

    .bottom__content {
        margin-bottom: 3rem;
        @media (min-width: $breakpoint-tablet) {}
        @media (min-width: $breakpoint-desktop) {
            margin-bottom: 0;
        }
    }

    .bottom__btns {
        @media (min-width: $breakpoint-tablet) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        
        a {
            margin-top: 1rem;
            width: 100%;
            text-align: center;

            @media (min-width: $breakpoint-tablet) {
                margin-top: 0;
                margin-left: 1rem;
                margin-right: 1rem;
                width: auto;
            }
            @media (min-width: $breakpoint-desktop) {

            }
        }
    }
}