.b-contacts {
    margin-bottom: 10rem;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.8rem;
    color: $color-gray;

    h2 {
        overflow: hidden;
        margin-bottom: 0.3em;
    }

    .contacts__text {
        p {
            overflow: hidden;
        }
        span {
            display: inline-block;
            position: relative;
        }
    }
    .contacts__pic {
        margin-bottom: 2rem;
        display: block;
        
        img {
            border-radius: 1000px;
            width: 22rem;
            max-width: 100%;
            background-color: rgba(35, 37, 55, 0.5);
            transition: background 0.3s ease-in-out;
        }
    }
    .contacts__title {
        margin-bottom: 2rem;
        line-height: 1;
        
        span {
            padding-bottom: 1rem;
            display: block;
            color: $color-white;
            font-size: 2.4rem;
        }
    }
    .contacts__contact {
        margin-bottom: 1.5rem;
        text-align: left;

        span {
            display: block;
        }
        a {
            border-bottom: 1px solid transparent;
            font-size: 1.8rem;
            text-decoration: none;
            color: $color-white;
            transition: border-color 0.3s ease-in-out;
        }
        a:hover {
            border-bottom-color: $color-white;
        }
    }
    .contacts__items {
        padding-top: 5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @media (min-width: $breakpoint-tablet) {
            justify-content: space-between;
        }
    }
    .contacts__item {
        margin-bottom: 4rem;
        width: 100%;
        max-width: 26rem;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop) {
            margin-bottom: 0;
            width: 25%;
        }

        &:hover {
            .contacts__pic {
                img {
                    background-color: rgba(35, 37, 55, 1);
                }
            }
        }
    }
}