.b-header {
    height: 12rem;
    margin: auto;
    max-width: 1230px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .header__logo {}
    .header__menu {
        a {
            margin-left: 1rem;
            margin-right: 1rem;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            color: $color-white;
            transition: border-color 0.3s ease-in-out;
        }
        a:hover {
            border-bottom-color: $color-white;
            text-decoration: none;
            color: $color-white;
        }
        a:focus {
            outline: none;
        }
    }
}