.b-promo {
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 12rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .promo__content {
        max-width: 600px;
        position: relative;
        font-size: 1.6rem;
        
        @media (min-width: $breakpoint-tablet) {
            font-size: inherit;
        }

        p {
            max-width: 500px;
        }
    }
    .promo__content-inner {
        opacity: 0;
        animation: showBlockOpacity 1.5s ease-in 0.5s forwards;
    }
    .promo__title {
        margin-bottom: 3rem;
        line-height: 1;

        h1 {
            display: none;
        }
        span {
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            overflow: hidden;
            font-size: 2.5rem;

            @media (min-width: $breakpoint-tablet) {
                font-size: 3.5rem;
            }
            @media (min-width: $breakpoint-desktop) {
                font-size: 4.8rem;
            }
        }
        em {
            font-style: normal;
            position: relative;
            top: 50px;
            animation: showBlockTop 2s ease-in-out 0.4s forwards;
        }
    }
    .promo__btn {
        padding-top: 5rem;
    }
    .promo__video {
        opacity: 0;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-63%, -50%);
            z-index: -1;
            width: 2000px;
            max-width: 350%;

            @media (min-width: $breakpoint-tablet) {
                max-width: 250%;
            }
            @media (min-width: $breakpoint-desktop) {
                max-width: 155%;
            }
        }

        animation: showBlockOpacity 1.5s ease-in-out 0.5s forwards;
    }
}
@keyframes showBlockOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes showBlockTop {
    from {
        top: 50px;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}