.b-video-desc {
    margin: 0 auto 8rem;
    max-width: 900px;
    text-align: center;
}
/*---------*/
.b-video {
    margin-bottom: 20rem;
    
    a {
        display: block;
        position: relative;
    }
    a, a:hover {
        text-decoration: none;
    }
    
    img.video__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.75;
        transition: opacity 0.3s ease-in-out;
    }
    a:hover {
        img.video__play {
            opacity: 1;
        }
    }
    img {
        max-width: 100%;
    }
}
/*---------*/